
html{
  background:black;
  height:100%;
  padding:0;
}

body{
  background: url("../imgs/background.jpg");
  font-family:"raleway", "sans-serif";
  margin:auto;
  margin-top:0;
  max-width:1000px;
  height:100%;
  padding-top:30px;
}

h1{
  border-bottom:solid 1px white;
  padding:20px;
  margin:0;
  font-size:30px;
}
.container{
  max-width:600px;
  margin: auto;
  background: rgba(98,160,174,0.9);
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  padding:5px;
}

.buttons{
  margin-top:5px;
  margin-bottom:5px;
  text-align:right;
}

.b{
  margin: 0 5px 0 0;
  padding: 5px 10px;
  color:white;
  border: solid 1px black;
  border-radius:5px;
  font-size: 18px;
  background:#142E42;
  font-family: "raleway", "sans-serif";
}

.b:hover{
  cursor:pointer;
}

.buttons .logout{
  
}
.navbar{
  text-align:right;
}



.buttons .gitLogin{
  margin-right:5px;
 }
 
 .fa{
  margin-right:10px;
}

/********************
Login page
*****************/

form{
  margin:15px;
  font-size:19px;
  font-weight: bold;
}

input{
  margin:10px;
}

.text2{
  position:relative;
  top: 0px;
  left:3px;
}

#submit{
  font-size:17px;
  font-family: "raleway";
  padding:8px;
  background:#142E42;
  margin:10px;
}


/********************
AUTH-USER HOMEPAGE
***********************/
.polls{
  padding:0px;
}

.newPoll{
  margin:20px;
  font-family: 'raleway';
  font-size:20px;
  padding:5px 10px;
  border-radius: 5px;
  border: solid 1px white;
  background-color: #A9A9F5;
}

#newPollForm{
  border-top:solid 1px black;
  padding:15px;
  margin:0;
}

.newPoll:hover{
  cursor:pointer;  
}


.noDisplay{
  display: none;
}

.display{
  display:block;
}

.newoptions{
  padding-bottom:15px;
  
}

input[type="text"], input[type="password"]{
  border-radius: 5px;
  line-height:25px;
}

.removeOption{
  background: #8A0829;
  border-radius: 5px;
  border: solid 1px black;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -3px;
  position:relative;
  top:2px;
}

.removeOption:hover{
  cursor:pointer;
}

.newoption{  
  position:relative;
  left:15px;
}

/*****
EXISTING POLLS
****/

.homepg{
  border-top:solid 1px white;
  padding-top:20px;
  
}

p{
  font-size:25px;
}

.homepg p{
  font-weight:bold;
}

.existingPolls{
  padding:10px;
  max-width:350px;
  margin:auto;
  margin-top:20px;
}

.poll{
  width:250px;
  border: solid 1px black;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block;
  margin-bottom:10px;
  
}
.pollName{
  background: purple;
  color: black;
  font-weight:bold;
  font-size:21px;
  padding:12px;
  overflow:auto;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.user{
  font-size:15px;
}

.opti{
  background:white;
  color:black;
  padding:5px;
  border-top:solid 1px black;
  
}

/****************
Remove buttons
*****************/

.removeButton{
  background-color:#DF013A;
  border-radius: 7px;
  font-family:"raleway", "sans-serif";
  color:white;
  border: solid 1px black;
  margin:6px;
  float:right;
  margin-right:30px;
  cursor:pointer;
  
}

.votes{
  border-left: solid 1px black;
  padding:5px;
  margin-left:30px;
  width:20px;
  margin-right:0px;
  
}

/****************
STYLING FOR HOMEPAGE POLLS
*********************/
.homepg .existingPolls .removeButton{
  display:none;
}

.homepg .existingPolls .poll .existingOption{
  display:none;
}